@import "tailwindcss";

:root {
  --bg-color: #2b2b2b;
  --text-color:  #f5c26b;
}

@theme {
  --color-blackish-100: #2b2b2b;
  --color-yellowish-100: #f5c26b;
}

@font-face {
  font-family: "Minecraft";
  src: url(./fonts/minecraft/Minecraft.ttf) format(truetype);
}

@font-face {
  font-family: "Terraria";
  src: url(./fonts/terraria/Terraria.ttf) format(truetype);
}

.minecraft {
  font-family: "Minecraft";
}

.terraria {
  font-family: "Terraria";
}

.avatar-img {
  image-rendering: pixelated;
}

.character-creation-form {
  border: 16px solid transparent;
  border-image: url("./sprites/tiles/brown_tile_001.png") 300 round;
  image-rendering: pixelated;
}

.greeting-box {
  position: relative;
  @apply absolute top-0 left-1/2 -translate-x-1/2 translate-y-1/2  text-white p-2 min-w-max;
  image-rendering: pixelated;
  background: var(--bg-color);
  color: var(--text-color);
  padding: 6px 12px;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  box-shadow: 0 4px 0 rgba(0,0,0,0.6);
  border-radius: 6px;
  font-family: "Terraria";
}

.arrow-btn {
  background-color: var(--bg-color);
  color: var(--text-color);
  flex: 1;
  /* font-size: 1.2rem; */
  /* padding: 8px; */
  padding: 4px ;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 2px solid transparent;
}

.arrow-btn:hover {
  border-color: var(--bg-color);
  background-color: var(--text-color);
  color: var(--bg-color)  ;
}

.input-box {
  /* @apply bg-blackish-100 text-yellowish-100 rounded-md; */
  @apply flex gap-3 py-1 items-center;

  & p {
    width: 70px
  }

  & input {
    @apply border border-blackish-100 rounded-sm py-1 pt-2 px-3 h-10;
  }

  & input:active, input:focus {
    @apply bg-blackish-100 text-yellowish-100 outline-0 transition duration-300;

  }

  & input:active {
    @apply outline-none border-transparent;
  }

}

.save-file-avatar {
  background: url(./sprites/tiles/avatar_placeholder.png) no-repeat;
  background-size: cover;
  
}